* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* primary and secondary colors */
    --primary-color: rgb(68, 26, 185);
    --secondary-color: rgb(120, 19, 113);
    /* font stuff */
    --title-font: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
    --body-font: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-family: var(--body-font);
    color: rgb(40, 40, 40);
}

/** universal styles */
h1 {
    font-family: var(--title-font);
    font-size: 3rem;
}
p {
    font-weight: 500;
    font-size: 1rem;
}
a {
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--title-font);
    text-decoration: none;
    background: var(--secondary-color);
    padding: 15px 100px;
    border-radius: 5px;
}
a:hover {
    transition-duration: 2s;
    background: linear-gradient(
        90deg,
        var(--secondary-color),
        var(--primary-color) 100%
    );
}
/** HEADER */
.header {
    width: 100%;
    height: 700px;
    background: url("../images/quizzlerBackground.svg") no-repeat;
    background-size: cover;
    color: rgb(250, 250, 250);
    font-family: var(--title-font);
}
.header__title {
    font-size: 6rem;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 600px;
}
.header__subtitle {
    margin: 40px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 3rem;
}
.header__button {
    margin-left: 50px;
}

/** DESCRIPTION */
.description {
    margin: 20px;
    display: flex;
    flex-basis: 30%;
}

.description__image {
    margin: 20px;
    margin-right: 50px;
    max-width: 500px;
    justify-self: end;
    margin-left: auto;
}
.description__container {
    flex-basis: 50%;
}

/** FEATURE DISPLAY */
.features {
    text-align: center;
}
.features__title {
    margin-bottom: 75px;
}
.features__container {
    display: flex;
    justify-content: space-around;
}
.features__card {
    width: 300px;
    height: 250px;
    padding-top: 50px;
    background: linear-gradient(var(--primary-color) 50px, transparent 50px);
    box-shadow: 2px 3px 2px 3px lightgray;
}
.features__subtitle {
    font-size: 2rem;
    margin: 20px;
    font-weight: 700;
}
.features__desc {
    margin: 20px;
    margin-top: 5px;
}
